/*Body*/
body{
    background-image: url(pensar.png);
    background-size: contain; 
    background-position: center top; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-color: white;
    overflow-y: scroll;    
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, 0); 
    padding: 20px;
    border-radius: 10px; 
    margin-top: 20px;
}
.faq-mascot {
    font-size: 24px;
    margin-bottom: 20px;
}
.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: left;
}
.faq-question {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    font-weight: bold;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.faq-item.active .faq-answer {
    max-height: 100px; 
    transition: max-height 0.5s ease-in;
}
.faq-question::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 0;
    transition: transform 0.5s;
}
.faq-item.active .faq-question::after {
    transform: rotate(180deg);
}
.no-help {
    margin-top: 20px;
    cursor: pointer;
    color: red;
}
.no-help-response {
    display: none;
    margin-top: 10px;
    color: red;
}
